body{
    height: 100%;
    width: 100%;
    background-color: gray;
 
}

.box{
    /* left top */
    width: 1000;
    height: 700px;
    position: relative;
    top: 50px;
    background: red;

    /* left top 
    width: 1000px;
    height: 700px;
    position: relative;
    top: 50px;
    background: red;

    /* left top 
    width: 1000px;
    height: 700px;
    position: relative;
    top: 50px;
    background: red;

    /* left top 
    width: 1000px;
    height: 700px;
    position: relative;
    top: 50px;
    background: red;
    */
}