/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:wght@300;600;700;800&display=swap');


body {
  font-family: 'Arimo', 'Open Sans', "Courier New", Courier, monospace;
}

.product {
  color: white;
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 800;
}

.pagelink {
  color: white;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 600;
}



/*----------------------------------------Main Container----------------------------------------*/
.pad {
  width: 100%;
  height: 65vw;
  padding: 2%;

  background: rgb(52, 58, 64);
}

.quiz {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding: 2%;
  background: rgb(52, 58, 64); 
  height: auto;
}

.products {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding: 2%;
  background: rgb(52, 58, 64); 
  height: auto;
}



figcaption {
  color: white;
}



/*----------------------------------------Tabs, Top Left----------------------------------------*/
.tabs {
  width: 60%;
  height: 28.6vw;
  margin-right: 2%;
  float: left;
  display: table-column;
}

/*Tab Button*/
.tabs .nav-tabs .nav-link {
  width: 20%;
  height: 2.6vw;
  width: 20%;
  padding: 0.5% 1.5% 0.5% 1.5%;

  color: white;
  font-size: 1.5vw;

  border-radius: 1vw 1vw 0vw 0vw;
}

.tabs .nav-tabs .active {
  background: #f5f5f5;
  box-shadow: 0.5vw 0vw 0.2vw 0vw rgba(0, 0, 0, 0.2);
}

/*Tab Content, Revealed Onclick*/
.tab-content {
  height: 31.2vw;
  padding: 2%;
  overflow-y: scroll;

  font-size: 1vw;
  
  background: #f5f5f5;
  border-radius: 0vw 0vw 1vw 1vw;
  box-shadow: 0.5vw 0.5vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
}

.tab-content .plt {
  height: 29vw;
  margin: auto;
}

.tab-content .sdg {
  width: 10vw;
}



/*---------------------------------Clock and Suggestion, Top Right---------------------------------*/
.clock {
  width: 38%;
  height: 6.5vw;
  margin-top: 2.6vw;
  padding: 0.5vw;
  float: right;
  display: table-column;
  position: relative;

  background: #f5f5f5;
  border-radius: 1vw;
  box-shadow: 0.5vw 0.5vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
}

/*Clock text*/
.clock .label {
  color: rgb(52, 58, 64);
  font-size: 1vw;
}

/*Clock value*/
.clock .value {
  margin: auto;
  position: absolute;
  top: 28%;
  left: 14.3%;

  color: rgb(215, 241, 205);
  font-size: 3.3vw;
  line-height: 3.3vw;
  font-weight: 800;
  animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 0.1vw rgba(202, 228, 211, 0.92),
    0 0 0.8vw rgba(202, 228, 217, 0.34),
    0 0 0.2vw rgba(30, 242, 94, 0.52),
    0 0 0.4vw rgba(30, 242, 58, 0.92),
    0 0 1.2vw rgba(30, 242, 118, 0.78),
    0 0 1.4vw rgba(30, 242, 94, 0.92);
  }
  to {
    text-shadow:
    0 0 0.1vw rgba(203, 226, 199, 0.92),
    0 0 0.8vw rgba(199, 230, 206, 0.34),
    0 0 0.2vw rgba(91, 245, 45, 0.52),
    0 0 0.4vw rgba(39, 226, 132, 0.92),
    0 0 1.2vw rgba(34, 241, 61, 0.78),
    0 0 1.4vw rgba(35, 241, 70, 0.92);
  }
}

.suggestion {
  width: 38%;
  height: 22.1vw;
  margin-top: 2.6vw;
  float: right;
  display: table-column;
  overflow-y: scroll;

  background: #f5f5f5;
  border-radius: 1vw;
  box-shadow: 0.5vw 0.5vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
}

.suggestion li {
  width: 30vw;
  margin: 0.5vw auto;
  padding: 0.8vw;
  list-style-type: none;

  font-size: 1vw;
  border-radius: 1vw;
}

.suggestion .energy {
  background: rgb(231, 102, 109);
}

.suggestion .food {
  background: rgb(253, 230, 22);
}

.suggestion .transport {
  background: rgb(49, 146, 224);
}

.suggestion a {
  color: rgb(92, 28, 185);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}



/*-------------------------------------Footprint, Bottom Left-------------------------------------*/
.footprint {
  width: 34%;
  height: 19.5vw;
  margin: 7.8vw 2% 0vw 0vw;
  float: left;
  display: table-column;
  position: relative;

  background: #f5f5f5;
  border-radius: 1vw;
  box-shadow: 0.5vw 0.5vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
}

/*Footprint Text*/
.footprint .label {
  padding-top: 0.4vw;

  color: rgb(110, 170, 40);
  font-size: 2vw;
  text-align: center;
  font-weight: 800;
}

/*Footprint display*/
.footprint .value {
  width: 60%;
  padding-top: 1.2vw;
  float: right;

  color: rgb(52, 58, 64);
  font-size: 4vw;
  font-weight: 800;
  line-height: 0.9;
}

/*Footprint relative to average*/
.footprint .mini {
  width: 60%;
  padding-top: 0.5vw;
  float: right;

  color: rgb(52, 58, 64);
  font-size: 1.2vw;
  font-weight: 200;
}

/*Footprint Image*/
.fimg {
  width: 40%;
  margin-right: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*--------------------------------------Graph, Bottom Right--------------------------------------*/
.graph {
  width: 64%;
  height: 19.5vw;
  margin-top: 2.6vw;
  float: right;
  display: table-column;

  background: #fff;
  border-radius: 1vw;
  box-shadow: 0.5vw 0.5vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
}


.graph .plt {
  height: 100%;

  border-radius: 1vw;
}