<!DOCTYPE html>
<html>
<head>
    <title>App Name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="back"></div>
</head>

<body>
    <form action='/' method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    <div class="box"></div>
    <div class=title>
    <h1>Title of the page</h1>
  </div>

  <div class="carbonFootprint">
    <h1>Your Carbon Footprint<h1>

  </div>

  <div class="graph">
    <h1>graph of co2<h1>

  </div>

  <div class="clock">
    <h1>dooms day clock<h1>

  </div>

  <div class="thingsYouCanDo">
    <h1>things you can do<h1>

  </div>

  <div class="tabs">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Overview</label>
    <div class="tab">
      <h1>This is the overview</h1>
      <p>Content</p>
    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Food</label>
    <div class="tab">
      <h1>Food Sustainability</h1>
      <p>Content</p>
    </div>

    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Transport</label>
    <div class="tab">
      <h1>Transport Sustainability</h1>
      <p>Content</p>
    </div>

    <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Energy</label>
    <div class="tab">
      <h1>Energy Sustainability</h1>
      <p>Content</p>
    </div>

  </div>
</body>
</html>
