<!DOCTYPE html>
<html>
<head>
    <title>App Name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <div class="back"></div>
</head>

<body>
    <div class="products">
        <div class="mx-auto d-flex justify-content-between">
            <h4><a href="{{ url_for('home_page') }}" class="text-white">Back home!</a></h4>
            <h1>Placeholder Product name</h1>
            <h4><a href="{{ url_for('quiz_page') }}" class="text-white">Quiz page!</a></h4>
        </div>
        <div class="box">
            <ul id="product">
                {% for item in product_data %}
                <li class="nav-item col-6 col-md">
                    <img class='product_image' src="{{ item['image'] }}"/>
                    <figcaption>{{ item['name'] }}</figcaption>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</body>
</html>